<h5>Log In</h5>

<form name="login">
    <label>Name</label>

    <input
        name="name"
        minlength="2"
        ng-model="ctrl.name"
        required="required" />

        <div ng-show="form.name.$error.name">
            name is incorrect!
        </div>
    
        <span class="email">{{ ctrl.name }}</span>

    <br />

    <label>Email</label>

    <input
        make-lower
        email
        name="email"
        ng-model="ctrl.email"
        required="required" />

    <div ng-show="form.email.$error.email">
        email is incorrect!
    </div>

    <span class="email">{{ ctrl.email }}</span>

    <br />

    <label>Password</label>

    <input
        make-lower
        email
        name="password"
        ng-model="ctrl.password"
        required="required" />

    <div ng-show="form.password.$error.password">
        password is incorrect!
    </div>

    <span class="email">{{ ctrl.password }}</span>
</form>